*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

img{
  width: 100%;
}

.container{
	width: 80%;
	max-width: 1000px;
	margin: 0px auto;
}

.debug-box{
  background-color: rgba(255, 0, 0, .2);
  border: 1px solid black;
}

.debug > div{
  border: 1px solid black;
}

.d-flex{
  display: flex;
}


/* header */
header .topbar-fixed{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ff7b05;
}

header .topbar{
  height: 80px;
  background-color: #ff7b05;
}

header .topbar .container{
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.menu ul{
  list-style: none;
}

.menu ul li{
  padding: 0 5px;
}

.menu ul li a{
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.logo{
  flex-basis: 150px;
}

.login i{
  color: white;
}


/* main */
main{
  margin-top: 120px;
}

main .container{
	display: flex;
	flex-wrap: wrap;
  align-items: center;
  gap: 5px;
	width: 80%;
	max-width: 1000px;
	margin: 0px auto;
}

.product{
	position: relative;
	margin: 0px 0px 30px 0px;
	cursor: pointer;
  flex-basis: 30%; 
}

.product-image .heart{
	position: absolute;
	top: 10px;
	right: 0;
	padding: 5px 10px;
  font-size: 2rem;
  background-color: white;
}

.product-image .heart:hover{
  color: red;
}

.product-image .discount{
	position: absolute;
	bottom: 85px;
	left: 0;
  padding: 5px 10px;
	background-color: red;
	color: white;
}

.product-image .sustainability{
	position: absolute;
	bottom: 85px;
	left: 60px;
  padding: 5px 10px;
	background-color: green;
	color: white;
}

.product-dati p{
  font-weight: bold;
}

.product-dati .current-price{
  color: red;
}

.product-dati .old-price{
  text-decoration: line-through;
}

.product-image .sustainability.left{
  left: 0;
}